#backgroundcolor{background-color:#485b40; padding: 2pc}
#headerimg
{
    padding-top: 5%;
    padding-bottom: 4%;
    background-size: contain;

}
#backgroundimg2
{
    background-size: cover;
}
h1
{
    text-shadow: 4px 4px 5px #485b40;    
    color: white;
    font-weight: 700;
    font-size: 42pt;
}
h2
{
    font:bolder; color:white;
    text-shadow: 4px 4px 5px #485b40;
    font-weight: 500;
    font-size: 36pt;
}